# pelican
*cache/*
*output/*
pelican-plugins/

*.py[cod]

#vim
*.swp
*.ropeproject/*

# SVN
.svn

# C extensions
*.so

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.DS_Store
