---
title: DeepFace - Closing the Gap to Human-Level Performance in Face Verification
authors:
- Yaniv Taigman
- Ming Yang
- Marc'Aurelio Ranzato
- Lior Wolf
fieldsOfStudy:
- Computer Science
meta_key: 2014-deepface-closing-the-gap-to-human-level-performance-in-face-verification
numCitedBy: 5046
reading_status: TBD
ref_count: 37
tags:
- gen-from-ref
- other-default
- paper
urls:
- https://www.semanticscholar.org/paper/DeepFace:-Closing-the-Gap-to-Human-Level-in-Face-Taigman-Yang/9f2efadf66817f1b38f58b3f50c7c8f34c69d89a?sort=total-citations
venue: 2014 IEEE Conference on Computer Vision and Pattern Recognition
year: 2014
---

[semanticscholar url](https://www.semanticscholar.org/paper/DeepFace:-Closing-the-Gap-to-Human-Level-in-Face-Taigman-Yang/9f2efadf66817f1b38f58b3f50c7c8f34c69d89a?sort=total-citations)

# DeepFace - Closing the Gap to Human-Level Performance in Face Verification

## Abstract

In modern face recognition, the conventional pipeline consists of four stages: detect => align => represent => classify. We revisit both the alignment step and the representation step by employing explicit 3D face modeling in order to apply a piecewise affine transformation, and derive a face representation from a nine-layer deep neural network. This deep network involves more than 120 million parameters using several locally connected layers without weight sharing, rather than the standard convolutional layers. Thus we trained it on the largest facial dataset to-date, an identity labeled dataset of four million facial images belonging to more than 4, 000 identities. The learned representations coupling the accurate model-based alignment with the large facial database generalize remarkably well to faces in unconstrained environments, even with a simple classifier. Our method reaches an accuracy of 97.35% on the Labeled Faces in the Wild (LFW) dataset, reducing the error of the current state of the art by more than 27%, closely approaching human-level performance.

## Paper References

1. Deep Convolutional Network Cascade for Facial Point Detection
2. Tom-vs-Pete Classifiers and Identity-Preserving Alignment for Face Verification
3. Learning hierarchical representations for face verification with convolutional deep belief networks
4. Leveraging Billions of Faces to Overcome Performance Barriers in Unconstrained Face Recognition
5. Probabilistic Elastic Matching for Pose Variant Face Verification
6. Fusing Robust Face Region Descriptors via Multiple Metric Learning for Face Recognition in the Wild
7. Face detection, pose estimation, and landmark localization in the wild
8. Learning a similarity metric discriminatively, with application to face verification
9. A Practical Transfer Learning Algorithm for Face Verification
10. Face recognition in unconstrained videos with matched background similarity
11. Attribute and simile classifiers for face verification
12. Fisher Vector Faces in the Wild
13. Synergistic Face Detection and Pose Estimation with Energy-Based Models
14. Learning to Align from Scratch
15. Fast High Dimensional Vector Multiplication Face Recognition
16. [Labeled Faces in the Wild - A Database forStudying Face Recognition in Unconstrained Environments](2008-labeled-faces-in-the-wild-a-database-forstudying-face-recognition-in-unconstrained-environments)
17. Volume structured ordinal features with background similarity measure for video face recognition
18. Towards Pose Robust Face Recognition
19. Viewing Real-World Faces in 3D
20. [ImageNet classification with deep convolutional neural networks](2012-alexnet.md)
21. The SVM-Minus Similarity Score for Video Face Recognition
22. Blessing of Dimensionality - High-Dimensional Feature and Its Efficient Compression for Face Verification
23. Bayesian Face Revisited - A Joint Formulation
24. Unsupervised Joint Alignment of Complex Images
25. An introduction to the good, the bad, & the ugly face recognition challenge problem
26. [Improving deep neural networks for LVCSR using rectified linear units and dropout](2013-improving-deep-neural-networks-for-lvcsr-using-rectified-linear-units-and-dropout)
27. Face Description with Local Binary Patterns - Application to Face Recognition
28. Emergence of Complex-Like Cells in a Temporal Product Network with Local Receptive Fields
29. [Gradient-based learning applied to document recognition](1998-lenet5.md)
30. [Large Scale Distributed Deep Networks](2012-large-scale-distributed-deep-networks)
31. [Learning Deep Architectures for AI](2007-learning-deep-architectures-for-ai)
32. Learning representations by back-propagating errors
33. Multiple One-Shots for Utilizing Class Label Information
